body {
    font-family: 'Doppio One', sans-serif;
    padding: 0px;
    margin: 0px;
}

/**    basic navbar    */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: crimson;
    padding: 5px;
    margin-top: -20px;
}

/**    logo / brand-name section    */
#brand-name a {
    color: #fff;
    text-decoration: none;
}

#brand-name a:hover {
    color: crimson;
    background-color: #fff;
}

/**    basic footer    */
footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 100px; 
    background-color: crimson;
}
